/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --header-title-accent-color: #ff0070;
  --button-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
}
.theme_light .header-decor {
  display: none;
}
.theme_light .title-decor {
  color: currentColor;
}
.theme_light .section__title {
  color: currentColor;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --header-title-accent-color: #ff0070;
    --button-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
  }
  .header-decor {
    display: none;
  }
  .title-decor {
    color: #353430;
  }
  .section__title {
    color: var(--button-color);
  }
}
