/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --header-title-accent-color: #ff0070;
  --button-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --main-font-family: "IBM Plex mono", monospace;
  --main-font-size: 18px;
  --main-line-height: 130%;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --indent-s: 10px;
  --indent-m: 40px;
  --indent-l: 50px;
}
@media (width >= 768px) {
  :root {
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --indent-s: 20px;
    --indent-m: 60px;
    --indent-l: 80px;
  }
}
